<!DOCTYPE html>
<html>
  <head>
    <title>GhIssueLister</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'cdn/unocss-runtime' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="loading-spinner" id="loading-spinner">
      <div class="spinner"></div>
    </div>

    <div class="p-8">
      <%= yield %>
    </div>

  </body>
</html>
